

.guiaTeste {
    width: 1050px;
    margin: 0 auto;
    padding: 0 20px;
}

.guia {
    padding: 20px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(255, 255, 255);
}

.guiaOne {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 30px;
}

.guiaIcone {
    font-size: 25px;
    background-color: rgb(234, 244, 253);
    padding: 8px 5px 2px 5px;
    border-radius: 5px;
}

.guiaOne h2 {
    font-size: 16px;
    padding-bottom: 5px;
}

.guiaOne span {
    font-size: 14px;
}

.guiaTwo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 20px;
}

.guiaThree {
    border: 1px solid rgb(207, 207, 207);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
}

.guiaThreeOne {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-bottom: 10px;
}

.guiaThreeIcone {
    background-color: rgb(202, 225, 252);
    font-size: 20px;
    padding: 2px;
    border-radius: 3px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);

}

.guiaThreeOne span {
    font-weight: bold;
    font-size: 15px;
}

.guiaThree p {
    padding: 0;
    font-size: 14px;
    line-height: 1.2;
}


.guiaMetodologia {

    padding: 20px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
    border: 1.5px solid rgb(185, 185, 185);
    border-radius: 10px;
    margin-bottom: 30px;
}

.guiaMetodologiaOne {

    display: flex;
    align-items: center;
    gap: 10px;
}

.MetodologiaIcone {
    font-size: 20px;
    background-color: rgb(234, 244, 253);
    padding: 8px 5px 2px 5px;
    border-radius: 5px;
}

.guiaMetodologiaText {

    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.guiaMetodologiaOne h2 {
    font-size: 16px;
    padding-bottom: 5px;
}




@media (max-width: 1024px) {
    .guiaTwo {
        margin-bottom: 20px;
    }
}


@media (max-width: 768px) {
    .guiaTwo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 20px;
    }
}


@media (max-width: 480px) {
    .guiaTwo {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 20px;
    }
}